<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login/boogle</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="main">

     <div class="google_image">
          <img  src="static/img/images/google.png" title="google photo" style="height:80px; width:250px;"  >
     </div>

    <div class="text1">
        One account.All of Boogle
    </div>

    <div class="text2">
        <p>Sign in this your Boogle Account</p>
    </div>

    <div class="centre">

        <div class="anonymous_image">
             <img  src="static/img/images/anonymous-user1.svg" title="anonymous photo" style="height:120px; width:140px;"  />
        </div>

        <div >
            <input class="enter_email" type="text" title="search" placeholder="Enter your email"/>
        </div>

        <div >
            <button class="next" type="button" title="search" >Next</button>
        </div>

        <div>
              <a class="help" href="#">Need help?</a>
        </div>


     </div>

    <div class="create_account">
        <a href="#">Create account</a>
    </div>

    <div>
       <p class="p_one_account">One Boogle Account for everything Boogle</p>
    </div>

    <div class="icons">
        <span class="icon_images">
            <img class="logo" src="static/img/images/google_icon.png" title="google icon" >
            <img class="logo" src="static/img/images/email_icon.png" title="email icon">
            <img class="logo" src="static/img/images/map_icon.png" title="map icon">
            <img class="logo" src="static/img/images/youtube.png" title="youtube icon">
            <img class="logo" src="static/img/images/drive_icon.png" title="drive icon">
            <img class="logo" src="static/img/images/photos_icon.png" title="photos icon">
            <img class="logo" src="static/img/images/play_icon.png" title="play icon">
            <img class="logo" src="static/img/images/chrome_icon.png" title="chrome icon">

        </span>

    </div>


</div>

<div class="footer">
    <span class="float_left">
              <a href="#">About Boogle</a>
              <a href="#">Privacy</a>
              <a href="#">Terms</a>
              <a href="#">Help</a>
    </span>

    <span class="float_right">
              <select class="language">
                <option value="English (United States)">English (United States)</option>
                <option value="‪Español (España)‬">‪Español (España)</option>
                <option value="English (Canada)">English (canada)</option>
                  <option value="‪Español (Latinoamérica)‬">‪Español (Latinoamérica)‬</option>
            </select>

    </span>


</div>

</body>

</html>